.constr {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.elements {
  height: 464px;
  width: 584px;
  display: flex;
  flex-direction: column;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 568px;
  gap: 8px;
}

.element:last-child {
  margin-bottom: 0;
}

.elementBun {
  align-self: flex-end;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.digit {
  font-size: 48px;
  line-height: 36px;
  margin: 0;
}

.orderNum {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.orderIcon {
  width: 36px;
  height: 36px;
}
