.ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.tabs {
  display: flex;
}

.products {
  height: 690px;
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  max-width: 600px;
  grid-template-columns: 600px;
  grid-template-rows: min-content;
  grid-template-areas:
    "section"
    "cards";
  align-content: center;
  padding: 0;
}

.cards {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.sectionTitle {
  grid-area: section;
}

.card {
  grid-area: card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 272px;
}

.image {
  width: 240px;
  height: 120px;
  align-self: center;
  cursor: pointer;
}

.name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0;
  min-height: 48px;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: center;
  max-height: 24px;
}

.priceNum {
  font-size: 28px;
  line-height: 24px;
}
