.header {
  justify-content: center;
  display: flex;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: none;
  width: 178px;
  height: 56px;
  color: #fff;
  cursor: pointer;
  padding: 0;
}
